@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar-link {
	@apply flex gap-4 text-lg p-4 rounded-lg font-normal hover:bg-primary-500 hover:bg-opacity-10 transition-colors duration-200;
}

.sidebar-link.active {
	@apply bg-primary-500;
}

.menu-icon-line {
	@apply h-[2px] bg-primary-500 rounded-full transition-all duration-200;
}

.custom-scrollbar::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

.custom-scrollbar::-webkit-scrollbar-button {
	@apply bg-transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
	@apply bg-neutral-900/50 rounded-lg;
}

.custom-scrollbar::-webkit-scrollbar-button {
	display: none;
}

.no-scrollbar::-webkit-scrollbar {
	display: none;
}

.no-scrollbar {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.or-line {
	@apply relative my-6 w-full h-px bg-neutral-300;
}

.or-line::before {
	@apply content-['or'] absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 bg-neutral-900 text-neutral-300 px-4 z-10;
}

.story-seen {
	@apply bg-gradient-to-b from-slate-500 to-slate-600;
}

.story-unseen {
	@apply bg-gradient-to-b from-[#877EFF] via-[#685DFF] to-[#3121FF];
}

.search-autofill:autofill,
.search-autofill:autofill:is(:hover, :focus, :active) {
	box-shadow: 0 0 0 30px hsl(240, 6%, 7%) inset !important;
	-webkit-text-fill-color: hsl(0 0% 100%) !important;
}

.scrollbar-hide::-webkit-scrollbar {
	display: none;
}

.scrollbar-hide {
	-ms-overflow-style: none;
	scrollbar-width: none;
}
